@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --color-primary: #F5900D;
  --color-dark-bg: #000000;
  --color-black: #101010;
  --color-gray: #5D5D5D;
  --color-white: #FFFFFF;
}

@layer base {
  body {
    font-family: var(--font-sans);
    background-color: var(--color-dark-bg);
    color: var(--color-white);
  }
}